<p>Hi <strong>{{name}}</strong> you have <strong>{{numberOfCertification}}</strong> certificates.</p>
<div class="card-container">

    <table class="styled-table">
        <thead>
        <tr>
          <th scope="col" style="text-align:center">#</th>
          <th scope="col" style="text-align:center">Certificate</th>
          <th scope="col" style="text-align:center">Technology</th>
          <th scope="col" style="text-align:center">Provider</th>
          <th scope="col" style="text-align:center">Certification Date</th>
          <th scope="col" style="text-align:center">From</th>
          <th scope="col" style="text-align:center">Valid till</th>
          <th scope="col" style="text-align:center">Action</th>
          
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let currency of currencies; index as i">
          <th scope="row">{{ i + 1 }}</th>
          
          <td>{{ currency.certificateName }}</td>
          <td>{{ currency.techName }}</td>
          <td>{{ currency.provider }}</td>
          <td>{{ currency.certificationDate }}</td>
          <td>{{ currency.validFrom }}</td>
          <td>{{ currency.validTo }}</td>
          <td>
            <input type="button" value="Edit" style='margin-right:16px'>
          </td>
        </tr>
        </tbody>
      </table>
</div>