<div class='panel panel-primary'>
 
    <div class='panel-heading'>
       <h3 class="heading-h3"> {{displayTitle}}</h3>
    </div>
    <div class="panel-body" >

      <div class="form-group">
        <label for="power">Certification Name</label>
        
        <input type="text" class="form-control" name="certificationName" size="20" [(ngModel)]='certificateList.certificateName'
                   pattern="[a-zA-Z]{3,}" required>

        <label for="power">Technology</label>

        <input type="text" class="form-control" name="technology" size="20" [(ngModel)]='certificateList.techName'
                   pattern="[a-zA-Z]{3,}" required>

        <label for="power">Provider</label>

        <input type="text" class="form-control" name="provider" size="20" pattern="[a-zA-Z]{3,}" 
        [(ngModel)]='certificateList.provider' required>

        <label for="power">Certification Date</label>

        <input type="date" class="form-control" name="certificationDate"  [(ngModel)]='certificateList.certificationDate'
        placeholder="dd-MMM-yyyy" required>

        <label for="power">Valid Till</label>
        
        <input type="date" class="form-control" name="validtill"  [(ngModel)]='certificateList.validTo'
                  placeholder="dd-MMM-yyyy" required>

                  
                  <!-- <input type="submit" class="button" (click)='onSubmit(certificateList)'  value="Add"> -->
                  <button class="button" style="vertical-align:middle" (click)='onSubmit(certificateList)'><span>Add </span></button>

      </div>
      
    
  </div>
  </div>
  