.panel-heading {
    background-image: url("/data/images/home.jpg");
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }